<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chs.boot.gerp.core.generate.mapper.CoreGenerateMapper">
  <select id="getConvertDataType" resultType="com.chs.boot.gerp.core.generate.model.ConvertDataTypeVO">
    SELECT maria_Data_type, java_Data_type
    FROM tep_data_type
  </select>
<!--retrieveTepGenTemplate-->
  <select id="retrieveTepGenTemplate" resultType="com.chs.boot.gerp.core.generate.model.TepGenTemplateEO">
    SELECT *
    FROM tep_gen_template
    WHERE template_type = #{templateType}
  </select>
</mapper>