<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chs.boot.gerp.core.sync.mapper.CoreSyncMapper">
  <update id="dropTable" parameterType="java.lang.String">
    drop table IF EXISTS ${value}
  </update>
  <update id="createNewTable" parameterType="java.lang.String">
    ${value}
  </update>
  <update id="truncateTable" parameterType="java.lang.String">
    truncate Table ${tableName}
  </update>

<!--  <insert id="insertCoreDataTable" parameterType="com.chs.boot.gerp.core.sync.model.CoreSyncTableDataVO">-->
<!--    INSERT INTO ${tableName}-->
<!--    (-->
<!--    <foreach item="value" index="key" collection="headerMap" separator=",">-->
<!--      ${key}-->
<!--    </foreach>-->
<!--    ) VALUES-->
<!--    <foreach item="item" index="key" collection="dataListMap" separator=",">-->
<!--      (-->
<!--      <foreach item="value" index="key" collection="item.entrySet()" separator=",">-->
<!--        #{value}-->
<!--      </foreach>-->
<!--      )-->
<!--    </foreach>-->
<!--  </insert>-->
  <insert id="insertCoreDataTable" parameterType="com.chs.boot.gerp.core.sync.model.CoreSyncTableDataVO">

    <foreach item="item" index="key" collection="dataListMap" separator=";">
      INSERT INTO ${tableName}
      (
      <foreach item="value" index="key" collection="item" separator=",">
        ${key}
      </foreach>
      ) VALUES
      (
      <foreach item="value" index="key" collection="item.entrySet()" separator=",">
        #{value}
      </foreach>
      )
    </foreach>
  </insert>



</mapper>