<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chs.boot.gerp.core.zipcode.mapper.CoreZipcodeMapper">

	<insert id="insertBofZipCodeList" parameterType="com.chs.boot.gerp.b2b.zipcode.model.ZipCodeVO">
		INSERT INTO bof_zip_code
		(
			 zip_seq
			,corporation_code
			,zipcd_id
			,zipcd
			,zipcd_info
			,city
			,gungu
			,dong
			,bunji
			,rgst_date
			,rgst_user
			,updt_date
			,updt_user
			,use_yn
			,local_rgst_date
			,local_updt_date
			,post_type
			,road_nm
			,basement_fg
			,dong_nm
			,building_nm
			,expire_dt
			,insert_dt
		)
		VALUES
		<foreach separator="," item="item" collection="list">
			(
			 #{item.zipSeq}
			,#{item.corporationCode}
			,#{item.zipcdId}
			,#{item.zipcd}
			,#{item.zipcdInfo}
			,#{item.city}
			,#{item.gungu}
			,#{item.dong}
			,#{item.bunji}
			,#{item.rgstDate}
			,#{item.rgstUser}
			,#{item.updtDate}
			,#{item.updtUser}
			,#{item.useYn}
			,#{item.localRgstDate}
			,#{item.localUpdtDate}
			,#{item.postType}
			,#{item.roadNm}
			,#{item.basementFg}
			,#{item.dongNm}
			,#{item.buildingNm}
			,#{item.expireDt}
			,#{item.insertDt}
			)
		</foreach>
	</insert>
	<update id="updateBofZipCodeList" parameterType="com.chs.boot.gerp.b2b.zipcode.model.ZipCodeVO">
		<foreach separator=";" item="item" collection="list">
			UPDATE bof_zip_code
			SET
				 zip_seq	=	#{item.zipSeq}
				,corporation_code	=	#{item.corporationCode}
				,zipcd_id	=	#{item.zipcdId}
				,zipcd	=	#{item.zipcd}
				,zipcd_info	=	#{item.zipcdInfo}
				,city	=	#{item.city}
				,gungu	=	#{item.gungu}
				,dong	=	#{item.dong}
				,bunji	=	#{item.bunji}
				,rgst_date	=	#{item.rgstDate}
				,rgst_user	=	#{item.rgstUser}
				,updt_date	=	#{item.updtDate}
				,updt_user	=	#{item.updtUser}
				,use_yn	=	#{item.useYn}
				,local_rgst_date	=	#{item.localRgstDate}
				,local_updt_date	=	#{item.localUpdtDate}
				,post_type	=	#{item.postType}
				,road_nm	=	#{item.roadNm}
				,basement_fg	=	#{item.basementFg}
				,dong_nm	=	#{item.dongNm}
				,building_nm	=	#{item.buildingNm}
				,expire_dt	=	#{item.expireDt}
				,insert_dt	=	#{item.insertDt}
			WHERE 1=1
				AND zip_seq	=	#{item.zipSeq}
		</foreach>
	</update>
	<delete id="deleteBofZipCodeList" parameterType="com.chs.boot.gerp.b2b.zipcode.model.ZipCodeVO">
		DELETE FROM bof_zip_code
		<where> 
		<foreach collection="list" item="item" open="" close="" separator="OR"> 
			(
			zip_seq	=	#{item.zipSeq}
			)
		</foreach> 
	  </where> 
	</delete>
	<select id="retrieveBofZipCodeListByPk"
	 parameterType="com.chs.boot.gerp.b2b.zipcode.model.ZipCodeVO"
	 resultType="com.chs.boot.gerp.b2b.zipcode.model.ZipCodeVO"
	 >
		SELECT 
			zip_seq
			,corporation_code
			,zipcd_id
			,zipcd
			,zipcd_info
			,city
			,gungu
			,dong
			,bunji
			,rgst_date
			,rgst_user
			,updt_date
			,updt_user
			,use_yn
			,local_rgst_date
			,local_updt_date
			,post_type
			,road_nm
			,basement_fg
			,dong_nm
			,building_nm
			,expire_dt
			,insert_dt
		FROM bof_zip_code
		<where> 
		<foreach collection="list" item="item" open="" close="" separator="OR"> 
			(
			zip_seq	=	#{item.zipSeq}
			)
		</foreach> 
	  </where> 
	</select>
	<select id="retrieveBofZipCodeListAll"
	 parameterType="com.chs.boot.gerp.b2b.zipcode.model.ZipCodeVO"
	 resultType="com.chs.boot.gerp.b2b.zipcode.model.ZipCodeVO"
	 >
		SELECT 
			uuid() as row_key
			,zip_seq
			,corporation_code
			,zipcd_id
			,zipcd
			,zipcd_info
			,city
			,gungu
			,dong
			,bunji
			,rgst_date
			,rgst_user
			,updt_date
			,updt_user
			,use_yn
			,local_rgst_date
			,local_updt_date
			,post_type
			,road_nm
			,basement_fg
			,dong_nm
			,building_nm
			,expire_dt
			,insert_dt
		FROM bof_zip_code
		<where>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(zipSeq)'>AND zip_seq=#{zipSeq}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(corporationCode)'>AND corporation_code=#{corporationCode}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(zipcdId)'>AND zipcd_id=#{zipcdId}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(zipcd)'>AND zipcd=#{zipcd}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(zipcdInfo)'>AND zipcd_info=#{zipcdInfo}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(city)'>AND city=#{city}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(gungu)'>AND gungu=#{gungu}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(dong)'>AND dong=#{dong}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(bunji)'>AND bunji=#{bunji}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(rgstDate)'>AND rgst_date=#{rgstDate}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(rgstUser)'>AND rgst_user=#{rgstUser}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(updtDate)'>AND updt_date=#{updtDate}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(updtUser)'>AND updt_user=#{updtUser}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(useYn)'>AND use_yn=#{useYn}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(localRgstDate)'>AND local_rgst_date=#{localRgstDate}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(localUpdtDate)'>AND local_updt_date=#{localUpdtDate}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(postType)'>AND post_type=#{postType}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(roadNm)'>AND road_nm=#{roadNm}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(basementFg)'>AND basement_fg=#{basementFg}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(dongNm)'>AND dong_nm=#{dongNm}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(buildingNm)'>AND building_nm=#{buildingNm}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(expireDt)'>AND expire_dt=#{expireDt}</if>
				<if test='@com.lge.common.util.CommonUtil@isNotNullAndEmpty(insertDt)'>AND insert_dt=#{insertDt}</if>
		</where>
	</select>
</mapper>