<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chs.boot.gerp.b2b.generate.mapper.B2bGenerateMapper">
  <select id="selectSqlStmt" resultType="java.util.LinkedHashMap">
    <![CDATA[
    ${selectQuery}
    ]]>
    LIMIT 100
  </select>

  <select id="retrieveColumnSchema" resultType="com.chs.boot.gerp.b2b.generate.model.SchemaColumnVO"
    parameterType="com.chs.boot.gerp.b2b.generate.model.SchemaColumnConditionVO">

    SELECT TABLE_CATALOG,
    TABLE_SCHEMA,
    TABLE_NAME,
    COLUMN_NAME,
    ORDINAL_POSITION,
    COLUMN_DEFAULT,
    IS_NULLABLE,
    DATA_TYPE,
    CHARACTER_MAXIMUM_LENGTH,
    CHARACTER_OCTET_LENGTH,
    NUMERIC_PRECISION,
    NUMERIC_SCALE,
    DATETIME_PRECISION,
    CHARACTER_SET_NAME,
    COLLATION_NAME,
    COLUMN_TYPE,
    COLUMN_KEY,
    EXTRA,
    PRIVILEGES,
    COLUMN_COMMENT,
    IS_GENERATED,
    GENERATION_EXPRESSION
    FROM information_schema.columns
    WHERE upper(table_name)=upper(#{tableName})

  </select>


  <select id="retrieveTableConstraints" resultType="com.chs.boot.gerp.b2b.generate.model.TableConstraintsVO"
    parameterType="com.chs.boot.gerp.b2b.generate.model.TableConstraintsVO">

    SELECT *
    FROM information_schema.TABLE_CONSTRAINTS
    WHERE upper(table_name)=upper(#{tableName})

  </select>

  <select id="retrieveKeyColumnUsage" resultType="com.chs.boot.gerp.b2b.generate.model.TableConstraintsVO"
    parameterType="com.chs.boot.gerp.b2b.generate.model.TableConstraintsVO">

    select CONSTRAINT_NAME,COLUMN_NAME
    from information_schema.KEY_COLUMN_USAGE
    where TABLE_NAME = #{tableName}
      and CONSTRAINT_NAME = #{constraintName}

  </select>




</mapper>