<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chs.boot.gerp.b2b.sync.mapper.B2bSyncMapper">
  <select id="getTableSchema" resultType="com.chs.boot.gerp.b2b.sync.model.TableVO">
    SELECT *
    FROM INFORMATION_SCHEMA.TABLES
    where TABLE_SCHEMA = 'redsky21_db1'
      and TABLE_TYPE in ('BASE TABLE', 'SEQUENCE')
      and table_name not in ('dual', 'batch_job_execution', 'batch_job_execution_context',
                             'batch_job_execution_params', 'batch_job_execution_seq',
                             'batch_job_instance', 'batch_job_seq', 'batch_step_execution',
                             'batch_step_execution_context', 'batch_step_execution_seq',
                             'qrtz_blob_triggers', 'qrtz_calendars', 'qrtz_cron_triggers',
                             'qrtz_fired_triggers', 'qrtz_job_details', 'qrtz_locks',
                             'qrtz_paused_trigger_grps', 'qrtz_scheduler_state',
                             'qrtz_simple_triggers', 'qrtz_simprop_triggers', 'qrtz_triggers','xxcmn_timeanddate_dst_r_if','om_so_line'
                            ,'cmn_user_info'
                            ,'cmn_lookup_values'
                            ,'cmd_hr_organization'
                            ,'om_customer'
                            ,'bof_project_header'
                            ,'bof_project_line'
                            ,'cmd_employee'
                            )
     and table_name  !='cmn_notice'
    order by table_name
  </select>


  <select id="showCreateTable" resultType="java.util.Map" parameterType="java.lang.String">
    show
    create table ${value}
  </select>

  <select id="selectTableData" resultType="java.util.LinkedHashMap"
    parameterType="java.lang.String">
    select *
    from ${tableName} limit 1000
  </select>


</mapper>